*{
    padding:0;
    margin:0;
    border: 0;
}
$primary-shade:#0099FF;
$unselected-shade:#a1deff;
$header-colour:white;
$body-colour:#e9e9e9;
$form-background-colour:white;
$text-font: 'Lato', sans-serif;
$header-font: 'Oswald', sans-serif;
$icon-colour:white;
$input-border-colour:#bdbdbd;
$error-colour:rgb(241, 16, 16);
$button-height:30px;

::-webkit-scrollbar {
    width: 0;
}
body{
    background: linear-gradient(45deg, #faa7a7, #82c3b1, #7b7bec);
    width:100%;
    height:100vh;
}
#begin-area{
    width:100%;
    font-family: $header-font;
    text-align: center;
    color:white;
    h1{
        margin:1em 0;
        font-size:3em;
        font-family: $header-font;
        font-weight:100;
        color:white; 
    }
    button{
        padding: 10px;
        border-radius: 3px;
        background-color: #b1c9ab;
        color: white;
        width: 10%;
        font-weight: 100;
        letter-spacing: 2px;
        box-shadow: 0px 0px 25px -7px #00000036;
        font-family: $header-font;
        cursor: pointer;
        transition:ease 1s transform;

        &:hover{
            transform: scale(1.05);
        }
    }

}
#score-area{
    position: absolute;
    top:20px;
    right:20px;
    color:white;
    font-family: $header-font;
    text-align: center;
}
#main-area{
    width:100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    text-align: center;
    h1{
        width:100%;
        margin:1em 0;
        font-size:3em;
        font-family: $header-font;
        font-weight:100;
        color:white;
    }

    .profile_followers{
        width: 25%;
        border: 1px solid #88888854;
        border-radius: 14px;
        background-color: #e8e8e8;
        -webkit-box-shadow: 0px 0px 4px 5px black;
        box-shadow: 0px 0px 124px -11px #00000061;
        padding-bottom: 6em;
        cursor: pointer;
        transition:ease 1s transform;
        .username{
            font-size:2em;
            margin:1em 0;
            font-family: $header-font;
            font-weight:100;
        }
        .profile-pic{
            border-radius: 300px;
            width:200px;
            height:200px;
            margin-bottom:1em;
            padding:7px;
            border:8px solid rgb(110, 110, 252);
        }
        &:hover{
            transform: scale(1.05);
        }
    }
}